@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

:root {
  --bg-color: #222327;
  --text-color: #fff;
  --main-color: #29fd53;
  --50s-transition: all 0.5s ease;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  padding: 28px 12%;
  transition: var(--50s-transition);
}

.logo {
  display: flex;
  align-items: center;
}
.logo i {
  color: var(--main-color);
  font-size: 28px;
  margin-right: 3px;
}

.logo span {
  color: var(--text-color);
  font-size: 1.7rem;
  font-weight: 600;
}
.navbar {
  display: flex;
}
.navbar a {
  color: var(--text-color);
  font-size: 1.1rem;
  font-weight: 500;
  padding: 5px 0;
  margin: 0 30px;
  transition: var(--50s-transition);
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}

.main {
  display: flex;
  align-items: center;
}

.main a {
  margin-right: 25px;
  margin-left: 10px;
  color: var(--text-color);
  font-size: 1.2rem;
  font-weight: 500;
  transition: var(--50s-transition);
}
.main a:hover {
  color: var(--main-color);
}
.main .user {
  display: flex;
  align-items: center;
}
.main a.user i {
  color: var(--main-color);
  font-size: 28px;
  margin-right: 7px;
}

#menu-icon {
  font-size: 35px;
  color: var(--text-color);
  cursor: pointer;
  z-index: 1001;
  display: none;
}

/* responsive */
@media (max-width: 1280px) {
  header {
    padding: 14px 2%;
  }
  .navbar a {
    padding: 5px 0;
    margin: 0 20px;
  }
}
@media (max-width: 1090px) {
  #menu-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 270px;
    height: auto;
    background-color: #0d8024b4;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .navbar a {
    display: block;
    margin: 12px 0;
    padding: 0 25px;
    transition: var(--50s-transition);
  }
  .navbar.open {
    right: 2%;
  }
}
